# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "gitsubmodule" # See documentation for possible values
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
    ignore:
      # chai is esmodule only.
      - dependency-name: "chai"
        versions: [">=5.0.0"]
      # sinon-chai 4.x+ supports chai 5.x+.
      - dependency-name: "sinon-chai"
        versions: [">=4.0.0"]
      # chai-subset requires @types/chai 4.x.
      - dependency-name: "@types/chai"
        versions: [">=4.0.0"]
      # mocha-plugin-eslint breaks our lint configuration
      - dependency-name: "mocha-plugin-eslint"
        versions: [">=10.0.0"]
      # we ignore TS as a part of quarterly dependency updates.
      - dependency-name: "typescript"
      # NODE-3773: sinon 19+ breaks the srv polling unit tests
      - dependency-name: "sinon"
        versions: ["18.x"]

      # ignore all peer dependencies
      - dependency-name: "@aws-sdk/credential-providers"
      - dependency-name: "@mongodb-js/zstd"
      - dependency-name: "gcp-metadata"
      - dependency-name: "kerberos"
      - dependency-name: "mongodb-client-encryption"
      - dependency-name: "snappy"
      - dependency-name: "socks"

    versioning-strategy: increase

    groups:
      prod-dependencies:
        dependency-type: "production"
        applies-to: version-updates
        update-types:
        - "minor"
        - "patch"
      development-dependencies:
        dependency-type: "development"
        applies-to: version-updates
        update-types:
        - "minor"
        - "patch"
