# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "gitsubmodule" # See documentation for possible values
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
    ignore:
      # chai is esmodule only.
      - dependency-name: "chai"
        versions: [">=5.0.0"]
      # sinon-chai 4.x+ supports chai 5.x+.
      - dependency-name: "sinon-chai"
        versions: [">=4.0.0"]
      # nyc is Node18+ only starting on nyc@16.x.
      - dependency-name: "nyc"
        versions: [">=16.0.0"]
      # we ignore TS as a part of quarterly dependency updates.
      - dependency-name: "typescript"
      # stay on the supported major version of gcp-metadata
      - dependency-name: "gcp-metadata"
        versions: [">=6.0.0"]

    versioning-strategy: increase
    allow:
      - dependency-type: "development"

    groups:
      development-dependencies:
        dependency-type: "development"
        applies-to: version-updates
        update-types:
        - "minor"
        - "patch"
