runOn:
  - maxServerVersion: "4.0"
database_name: &database_name "default"
collection_name: &collection_name "default"

data: []
key_vault_data: [{{key()}}]

tests:
  - description: "operation fails with maxWireVersion < 8"
    clientOptions:
      autoEncryptOpts:
        kmsProviders:
          aws: {} # Credentials filled in from environment.
    operations:
      - name: insertOne
        arguments:
          document: { encrypted_string: "string0" }
        result:
          errorContains: "Auto-encryption requires a minimum MongoDB version of 4.2"