runOn:
  - minServerVersion: "4.1.10"
database_name: &database_name "default"
collection_name: &collection_name "default"

data:
  - &doc0_encrypted { _id: 1, x: 1, encrypted_string: {{ciphertext("string0", field="encrypted_string")}} }
  - &doc1_encrypted { _id: 2, x: 2, encrypted_string: {{ciphertext("string1", field="encrypted_string")}} }
json_schema: {{schema()}}
key_vault_data: [{{key()}}]

tests:
  - description: "mapReduce deterministic encryption (unsupported)"
    clientOptions:
      autoEncryptOpts:
        kmsProviders:
          aws: {} # Credentials filled in from environment.
    operations:
      - name: mapReduce
        arguments:
          map: { $code: "function inc() { return emit(0, this.x + 1) }" }
          reduce: { $code:  "function sum(key, values) { return values.reduce((acc, x) => acc + x); }" }
          out: { inline: 1 }
        result:
          errorContains: "command not supported for auto encryption: mapreduce"