{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:jsdoc/recommended"],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["prettier", "jsdoc"],
  "rules": {
    "prettier/prettier": "error",

    "jsdoc/check-tag-names": [
      "warn",
      {
        "definedTags": ["example-class", "example-method"]
      }
    ],

    "jsdoc/no-undefined-types": 0,

    "no-console": "off",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "strict": ["error", "global"]
  },
  "settings": {
    "jsdoc": {
      "check-types": false,
      "mode": "typescript"
    }
  }
}
