{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "Promise": true,
    "Set": true,
    "Symbol": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "tabWidth": 2,
      "printWidth": 100
    }],

    "no-console": 0,
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "strict": ["error", "global"]
  }
}
