{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:jsdoc/recommended"],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["prettier", "jsdoc"],
  "rules": {
    "prettier/prettier": "error",

    "jsdoc/check-tag-names": [
      "warn",
      {
        "definedTags": ["example-class", "example-method"]
      }
    ],
    "jsdoc/require-jsdoc": "off",
    "jsdoc/no-undefined-types": "off",

    "jsdoc/require-param-description": "off",
    "jsdoc/require-returns": "off",
    "jsdoc/require-returns-description": "off",
    "jsdoc/require-returns-type": "off",
    "jsdoc/valid-types": "off",

    "no-console": "off",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "strict": ["error", "global"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  },
  "settings": {
    "jsdoc": {
      "check-types": false,
      "mode": "typescript",
      "tagNamePreference": {
        "augments": "extends"
      }
    }
  }
}
