.npmignore
.gitignore
.buildinfo
.travis.yml
.mongodb
.DS_Store
*.tmp
*.log
*.heapsnapshot
*.txt
*.png

HISTORY
Readme.md
TODO
data.txt

out/
gh-pages/
docs/
docs/sphinx-docs
data/
db/
dev/
examples/
test/
performance/
.coverage_data/
public/
docs/public/
.nyc_output/

external-libs/bson/build/
external-libs/bson/build/.wafpickle-7
