.npmignore
.gitignore
.buildinfo
.travis.yml
.mongodb
.DS_Store
*.tmp
*.log
*.heapsnapshot
*.dat
*.png
*.txt
test*.*

HISTORY
Readme.md
TODO

gh-pages/
docs/
docs/sphinx-docs
data/
db/
db1/
dev/
examples/
test/
out/
performance/
public/
.coverage_data/
.coveralls.yml
.eslintrc.json
docs/public
.nyc_output/
jsconfig.json
manual_tests/

external-libs/bson/build/
external-libs/bson/build/.wafpickle-7

src/
.mocharc.json
.nycrc.json
api-extractor.json
conf.json
tsdoc.json
typedoc.json
Makefile
