dist: xenial
language: node_js

cache:
  directories:
    - /home/travis/.mongodb/versions

branches:
  only:
    - master
    - next

before_install:
  - wget -O mongocryptd.tgz https://s3.amazonaws.com/mciuploads/mongodb-mongo-v4.2/enterprise-ubuntu1604-64/f92115cad9d2a4c2ddcf3c2c65092dda2fd7147a/binaries/mongo-cryptd-mongodb_mongo_v4.2_enterprise_ubuntu1604_64_f92115cad9d2a4c2ddcf3c2c65092dda2fd7147a_19_06_13_17_31_40.tgz
  - mkdir mongocryptd && tar xzf mongocryptd.tgz -C mongocryptd --strip-components 1
  - mongocryptd/bin/mongocryptd&

before_script:
  - npm install mongodb-client-encryption

jobs:
  include:
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=2.6.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=3.0.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=3.2.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=3.4.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=3.6.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=4.0.x

    - stage: standalone
      node_js: 6
      env: MONGODB_VERSION=4.0.x
    - stage: standalone
      node_js: 8
      env: MONGODB_VERSION=4.0.x
    - stage: standalone
      node_js: 10
      env: MONGODB_VERSION=4.0.x

    - stage: replicaset
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_ENVIRONMENT=replicaset
    - stage: sharded
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_ENVIRONMENT=sharded

    # basic smoke test of the unified topology
    - stage: unified
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_UNIFIED_TOPOLOGY=1
    - stage: unified
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_UNIFIED_TOPOLOGY=1
        - MONGODB_ENVIRONMENT=replicaset
    - stage: unified
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_UNIFIED_TOPOLOGY=1
        - MONGODB_ENVIRONMENT=sharded

  allow_failures:
    - env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_ENVIRONMENT=sharded
    - env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_UNIFIED_TOPOLOGY=1
        - MONGODB_ENVIRONMENT=sharded
