dist: xenial
language: node_js

cache:
  directories:
    - /home/travis/.mongodb/versions
branches:
  only:
    - master
jobs:
  include:
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=2.6.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=3.0.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=3.2.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=3.4.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=3.6.x
    - stage: standalone
      node_js: 4
      env: MONGODB_VERSION=4.0.x

    - stage: standalone
      node_js: 6
      env: MONGODB_VERSION=4.0.x
    - stage: standalone
      node_js: 8
      env: MONGODB_VERSION=4.0.x
    - stage: standalone
      node_js: 10
      env: MONGODB_VERSION=4.0.x

    - stage: replicaset
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_ENVIRONMENT=replicaset
    - stage: sharded
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_ENVIRONMENT=sharded

    # basic smoke test of the unified topology
    - stage: unified
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_UNIFIED_TOPOLOGY=1
    - stage: unified
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_UNIFIED_TOPOLOGY=1
        - MONGODB_ENVIRONMENT=replicaset
    - stage: unified
      node_js: 4
      env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_UNIFIED_TOPOLOGY=1
        - MONGODB_ENVIRONMENT=sharded

  allow_failures:
    - env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_ENVIRONMENT=sharded
    - env:
        - MONGODB_VERSION=4.0.x
        - MONGODB_UNIFIED_TOPOLOGY=1
        - MONGODB_ENVIRONMENT=sharded
