runOn:
  - minServerVersion: "4.1.10"
database_name: &database_name "default"
collection_name: &collection_name "default"

data: []
key_vault_data: [{{key()}}]

tests:
  - description: "Schema with an encrypted field in an array"
    clientOptions:
      autoEncryptOpts:
        schemaMap:
          "default.default": {{schema('invalid_array')}}
        kmsProviders:
          aws: {} # Credentials filled in from environment.
    operations:
      - name: insertOne
        arguments:
          document: &doc0 { _id: 1, encrypted_string: "string0" }
        result:
          errorContains: "Invalid schema"
    outcome:
      collection:
        data: []
  - description: "Schema without specifying parent object types"
    clientOptions:
      autoEncryptOpts:
        schemaMap:
          "default.default": {{schema('invalid_omitted_type')}}
        kmsProviders:
          aws: {} # Credentials filled in from environment.
    operations:
      - name: insertOne
        arguments:
          document: *doc0
        result:
          errorContains: "Invalid schema"
    outcome:
      collection:
        data: []
  - description: "Schema with siblings of encrypt document"
    clientOptions:
      autoEncryptOpts:
        schemaMap:
          "default.default": {{schema('invalid_siblings')}}
        kmsProviders:
          aws: {} # Credentials filled in from environment.
    operations:
      - name: insertOne
        arguments:
          document: *doc0
        result:
          errorContains: "'encrypt' cannot be used in conjunction with 'bsonType'"
    outcome:
      collection:
        data: []
  - description: "Schema with logical keywords"
    clientOptions:
      autoEncryptOpts:
        schemaMap:
          "default.default": {{schema('logical_keywords')}}
        kmsProviders:
          aws: {} # Credentials filled in from environment.
    operations:
      - name: insertOne
        arguments:
          document: *doc0
        result:
          errorContains: "Invalid schema"
    outcome:
      collection:
        data: []