runOn:
  - minServerVersion: "4.1.10"
database_name: &database_name "default"
collection_name: &collection_name "default"

data: []
json_schema: {}
key_vault_data: [{{key()}}]

tests:
  - description: "ping is bypassed"
    clientOptions:
      autoEncryptOpts:
        kmsProviders:
          aws: {} # Credentials filled in from environment.
    operations:
      - name: runCommand
        object: database
        command_name: ping
        arguments:
          command:
            ping: 1
    expectations:
      # No listCollections, no mongocryptd command, just the ping.
      - command_started_event:
          command:
            ping: 1
          command_name: ping