runOn:
  - minServerVersion: "4.1.10"
database_name: &database_name "default"
collection_name: &collection_name "default"

data:
  - &doc0_encrypted { _id: 1, encrypted_string: {{ciphertext("string0", field="encrypted_string")}} }
  - &doc1_encrypted { _id: 2, encrypted_string: {{ciphertext("string1", field="encrypted_string")}} }
json_schema: {{schema()}}
key_vault_data: [{{key()}}]

tests:
  - description: "updateMany with deterministic encryption"
    clientOptions:
      autoEncryptOpts:
        kmsProviders:
          aws: {} # Credentials filled in from environment.
    operations:
      - name: updateMany
        arguments:
          filter: { encrypted_string: { $in: [ "string0", "string1" ] } }
          update: { $set: { encrypted_string: "string2", random: "abc" } }
        result:
          matchedCount: 2
          modifiedCount: 2
          upsertedCount: 0
    expectations:
      # Auto encryption will request the collection info.
      - command_started_event:
          command:
            listCollections: 1
            cursor: {}
            filter:
              name: *collection_name
          command_name: listCollections
      - command_started_event:
          command:
            listCollections: 1
            cursor: {}
            filter:
              name: "datakeys"
            $db: admin
          command_name: listCollections
      # Then key is fetched from the key vault.
      - command_started_event:
          command:
            find: datakeys
            filter: {"$or": [{"_id": {"$in": [ {{key()["_id"]}} ] }}, {"keyAltNames": {"$in": []}}]}
            $db: admin
          command_name: find
      - command_started_event:
          command:
            update: *collection_name
            updates:
              - q: { encrypted_string: { $in: [ {{ciphertext("string0", field="encrypted_string")}}, {{ciphertext("string1", field="encrypted_string")}} ] } }
                u: { $set: { encrypted_string: {{ciphertext("string2", field="encrypted_string")}}, random: { $$type: "binData" } } }
                multi: true
                upsert: false
            ordered: true
          command_name: update
    outcome:
      collection:
        # Outcome is checked using a separate MongoClient without auto encryption.
        data:
          - { _id: 1, encrypted_string: {{ciphertext("string2", field="encrypted_string")}}, random: { $$type: "binData" } }
          - { _id: 2, encrypted_string: {{ciphertext("string2", field="encrypted_string")}}, random: { $$type: "binData" } }
  - description: "updateMany fails when filtering on a random field"
    clientOptions:
      autoEncryptOpts:
        kmsProviders:
          aws: {} # Credentials filled in from environment.
    operations:
      - name: updateMany
        arguments:
          filter: { random: "abc" }
          update: { $set: { encrypted_string: "string1" } }
        result:
          errorContains: "Cannot query on fields encrypted with the randomized encryption"