<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><?js= ((env.conf.templates.meta && env.conf.templates.meta.title) || title) ?></title>
    <?js if (env.conf.templates.meta) { ?>
    <?js if (env.conf.templates.meta.description) { ?><meta name="description" content="<?js= env.conf.templates.meta.description ?>" /><?js } ?>
    <?js if (env.conf.templates.meta.keyword) { ?>
        <meta name="keywords" content="<?js= env.conf.templates.meta.keyword ?>" />
        <meta name="keyword" content="<?js= env.conf.templates.meta.keyword ?>" />
    <?js } ?>
    <?js } ?>
    <?js if (env.conf.templates.openGraph) { ?>
    <meta property="og:title" content="<?js= env.conf.templates.openGraph.title ?>"/>
    <meta property="og:type" content="<?js= env.conf.templates.openGraph.type ?>"/>
    <meta property="og:image" content="<?js= env.conf.templates.openGraph.image ?>"/>
    <?js if (env.conf.templates.openGraph.site_name) { ?><meta property="og:site_name" content="<?js= env.conf.templates.openGraph.site_name ?>"/><?js } ?>
    <meta property="og:url" content="<?js= env.conf.templates.openGraph.url ?>"/>
    <?js } ?>
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/jaguar.css">
    
    <?js if (env.conf.templates) { ?>
    <script>
    var config = <?js= JSON.stringify(env.conf.templates) ?>;
    </script>
    <?js } ?>

    <?js if (env.conf.templates.googleAnalytics) { ?>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', <?js= env.conf.templates.googleAnalytics ?>, 'auto');
      ga('send', 'pageview');
    </script>    
    <?js } ?>
</head>
<body>
<div id="wrap" class="clearfix" style="width:100%;">
    <table style="height:100%;width:100%">
        <tr>
            <td valign='top' width="1px">
                <?js= this.partial('navigation.tmpl', this) ?>
            </td>
            <td valign='top'>        
                <div class="main">
                    <h1 class="page-title" data-filename="<?js= filename ?>"><?js= title ?></h1>
                    <?js= content ?>

                    <footer>
                        Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?>
                    </footer>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
