{
  "$schema": "https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/mocharc.json",
  "require": [
    "source-map-support/register",
    "ts-node/register"
  ],
  "extension": [
    "js",
    "ts"
  ],
  "recursive": true,
  "timeout": 60000,
  "failZero": true,
  "sort": true,
  "color": true,
  "ignore": []
}
